body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  margin: 5px;
  padding: 10px;
  width: 90%;
}

button {
  padding: 10px;
  width: 95%;
  background-color: #0078D7;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #005ea3;
}
